@{
    Layout = "~/Views/Shared/_Secondary_Layout.cshtml";
}

<div class="card forgot-pass">
    <div class="body">
        <p class="lead mb-3">Esqueceu a senha?</p>
        <p>Digite seu e-mail para recuperá-la.</p>
        <form class="form-auth-small" action="index.html">
            <div class="form-group">
                <input type="password" class="form-control round" id="email" name="email" placeholder="E-mail">
            </div>
            <button type="submit" class="btn btn-round btn-primary btn-lg btn-block">RESETAR A SENHA</button>
            <div class="bottom">
                <span class="helper-text">Sabe a senha? <a href="@Url.Action("Index", "Auth")">Entrar</a></span>
            </div>
        </form>
    </div>
</div>