@{
    Layout = "~/Views/Shared/_Secondary_Layout.cshtml";
    ViewData["ViewName"] = "Login";
}

<div class="card">
    <div class="body">
        <p class="lead">Acesso à plataforma</p>
        <form id="Login" asp-action="Login" asp-controller="Auth" method="POST" class="form-auth-small m-t-20">
            <div class="form-group">
                <label for="username" class="control-label sr-only">Usuário</label>
                <input type="text" class="form-control round" id="username" name="username" placeholder="Usuário" value="@ViewData["Username"]?.ToString()">
            </div>
            <div class="form-group">
                <label for="password" class="control-label sr-only">Senha</label>
                <input type="password" class="form-control round" id="password" name="password" placeholder="Senha">
            </div>
            <div class="form-group clearfix">
                <label class="fancy-checkbox element-left">
                    <input type="checkbox" id="RememberUser" name="RememberUser">
                    <span>Lembrar usuário</span>
                </label>
            </div>
            <button type="submit" class="btn btn-primary btn-round btn-block">LOGIN</button>
            <div class="bottom">
                <span class="helper-text m-b-10"><i class="fa fa-lock"></i> <a href="@Url.Action("ForgotPassword", "Auth")">Esqueceu a senha?</a></span>
                <span>Não possui conta? <a href="@Url.Action("SignUp", "Auth")">Registrar</a></span>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="../vendor/parsleyjs/js/parsley.min.js"></script>
    <script src="../vendor/toastr/toastr.min.js"></script>
    <script>
        $(function () {
            $('#Login').parsley();

            $('#username').attr('data-parsley-minlength', 5);
            $('#username').attr('data-parsley-maxlength', 40);
            $('#username').attr('data-parsley-required', true);

            $('#password').attr('data-parsley-required', true);
        });
    </script>
}
