<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <div class="header">
                
            </div>
            <div class="body">
                <div class="row clearfix">
                    
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    
}